[Unit]
Description=MaguroHTTP
After=network.target

[Service]
Type=simple
User=tuna-www
Restart=always
RestartSec=5s
ExecStart=/usr/bin/magurohttp /usr/lib/magurohttp/main.config

# Other Restart options: or always, on-abort, etc
[Install]
WantedBy=multi-user.target
